Flask>=0.10.1
markupsafe
Jinja2
requests
bcrypt
gunicorn
Werkzeug>=0.9.4
flask-script
flask-fillin
Flask-SocketIO
greenlet>=0.4.2
gevent>=1.0
gevent-socketio>=0.3.6
gevent-websocket>=0.9.2
ujson>=1.33
websocket-client
Flask-Security